{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <form method="post" runat="server" role="form" class="col-md-12 mt-20">
            {% csrf_token %}
            <div class="col-md-6 float-left">
                <div class="card card-default fas-div">
                    <div class="card-header">
                        <h4 class="brand-text font-weight-light text-center">{{ formName }}</h4>
                    </div>
                    <div class="card-body">
                        {{ form.as_p}}
                        <button type="submit" class="btn btn-success">Save</button>
                        <button id="cancel" class="btn btn-danger right">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div class="card card-default fas-div">
                    <div class="card-header">
                        <h4 class="brand-text font-weight-light text-center">Comments</h4>
                    </div>
                    <div class="card-body comments">
                        {% if relatedComments %}
                            {% for comment in relatedComments %}
                                <br>
                                <div>
                                    <div class="input-group">
                                        <input type="text" name="comments[]" class="form-control" value="{{ comment.content }}">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-danger remove-comment">Remove</button>
                                        </div>
                                    </div>
                                    <span class="text-gray">author: {{ comment.author }} ({{ comment.created_at }})</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div>   
                                <br>
                                <div class="input-group">
                                    <input type="text" name="comments[]" class="form-control">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-danger remove-comment">Remove</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <span class="input-group-sm">
                            <button type="button" class="btn btn-success btn-flat add-comment">Add</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
