{% extends 'base.html' %}
{% block content %}
    <div class="hr-top">
        <div class="hrtp-child">
            <div class="add-row-div">
                {% if perms.hr.add %}
                    <a href="/hr/add" class="btn btn-success add-row-btn ">Add employee</a>
                {% endif %}
            </div>
            <!-- SEARCH FORM -->
            <div class="search-div">
                <form class="form-inline ml-0 ml-md-3" method="get" action="/hr">
                    <div class="input-group input-group-sm srch-div">
                        <input class="form-control form-control-navbar srch-inpt" type="search" name="search"
                        placeholder="Search" aria-label="Search" value="{{ searchWord }}">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive-sm" >
            {% if employees %}
                <table class="table table-bordered table-hover dataTable dtr-inline mt-10">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date Started</th>
                            <th>Name</th>
                            <th>Job Title</th>
                            <th>Salary</th>
                            <th>Department</th>
                            <th>Manager</th>
                            <th>Address</th>
                            {% if perms.hr.edit or perms.hr.delete %}
                                <th>Options</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% load tz %}
                        {% for employee in employees %}
                            <tr>
                                <td>{{ employee.created_at|date:"d M Y" }}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.job_position_id.name }}</td>
                                <td>{{ employee.salary }} {{ employee.get_salary_type }}</td>
                                <td>{{ employee.department_id.name }}</td>
                                <td>{{ employee.manager_id.name }}</td>
                                <td>{{ employee.address }}</td>
                                {% if perms.hr.edit or perms.hr.delete %}
                                    <td>
                                        {% if perms.hr.edit %}
                                            <a href="{% url 'edit-employee' employee.id %}" class="btn btn-no-padding"><i class="fas fa-pencil-alt"></i></a>
                                        {% endif %}
                                        {% if perms.hr.delete %}
                                            <a href="{% url 'delete-employee' employee.id %}" class="btn btn-no-padding delete-row"><i class="fas fa-trash"></i></a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if searchWord != "" %}
                    <p class="result-text">No employees found with this search term: <b>"{{ searchWord}}"</b>.</p>
                {% endif %}
            {% endif %}
        </div>
        <div>
            <nav aria-label="Page navigation example">
                {% if employees.has_other_pages %}
                <ul class="pagination pagination-sm">
                    {% if employees.has_previous %}
                        <li class="page-item"><a class="page-link" href="?search={{ searchWord }}&page={{ employees.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in employees.paginator.page_range %}
                    {% if employees.number == i %}
                        <li class="active"><span class="page-link"><b>{{ i }}</b> <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?search={{ searchWord }}&page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if employees.has_next %}
                        <li class="page-item"><a class="page-link" href="?search={{ searchWord }}&page={{ employees.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}