#LoginForm { 
    background-color: #FFFFFF;
}

.main-div {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}